name: Run main.py test

on:
  workflow_dispatch:
  schedule:
    - cron: "30 22 * * *"  # UTC 22:30 = JST 7:30

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Run main.py
        run: python main.py
